<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.monitor.data.dao.OrderDao">

  <!--基础字段映射关系 开始-->	
	  <resultMap id="BaseResultMap" type="Order">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="payment" property="payment" jdbcType="VARCHAR"/>
		<result column="payment_type" property="paymentType" jdbcType="INTEGER"/>
		<result column="post_fee" property="postFee" jdbcType="VARCHAR"/>
		<result column="status" property="status" jdbcType="INTEGER"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
		<result column="payment_time" property="paymentTime" jdbcType="TIMESTAMP"/>
		<result column="consign_time" property="consignTime" jdbcType="TIMESTAMP"/>
		<result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
		<result column="close_time" property="closeTime" jdbcType="TIMESTAMP"/>
		<result column="shipping_name" property="shippingName" jdbcType="VARCHAR"/>
		<result column="shipping_code" property="shippingCode" jdbcType="VARCHAR"/>
		<result column="user_id" property="userId" jdbcType="BIGINT"/>
		<result column="buyer_message" property="buyerMessage" jdbcType="VARCHAR"/>
		<result column="buyer_nick" property="buyerNick" jdbcType="VARCHAR"/>
		<result column="buyer_rate" property="buyerRate" jdbcType="INTEGER"/>
	  </resultMap>
	<!--基础字段映射关系 结束-->
	<resultMap id="ResultMapWithOrder" type="Order" extends="BaseResultMap" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by GenerateCode.Src, do not modify.
    -->
  </resultMap>
	
  <!--字段 Base_Column 开始-->
	  <sql id="Base_Column_List">
	  id,payment,payment_type,post_fee,status,create_time,update_time,payment_time,consign_time,end_time,close_time,shipping_name,shipping_code,user_id,buyer_message,buyer_nick,buyer_rate
	  </sql>
  <!--字段 Base_Column 结束-->
  
  <sql id="limit_sql_str">
        <if test="maxResults > 0">
            limit #firstResult, #maxResults
        </if>
    </sql>

  <!-- 插入，可空字段过滤null值(开始) -->
  <insert id="insertByOrder" parameterType="Order" useGeneratedKeys="true" keyProperty="id">
    <!--自增ID不能显示增加 要手工去掉-->
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides=","> 
		id,
      <if test="payment != null and payment !=''">
		payment,
      </if>
      <if test="paymentType != null and paymentType !=''">
		payment_type,
      </if>
      <if test="postFee != null and postFee !=''">
		post_fee,
      </if>
      <if test="status != null and status !=''">
		status,
      </if>
      <if test="createTime != null and createTime !=''">
		create_time,
      </if>
      <if test="updateTime != null and updateTime !=''">
		update_time,
      </if>
      <if test="paymentTime != null and paymentTime !=''">
		payment_time,
      </if>
      <if test="consignTime != null and consignTime !=''">
		consign_time,
      </if>
      <if test="endTime != null and endTime !=''">
		end_time,
      </if>
      <if test="closeTime != null and closeTime !=''">
		close_time,
      </if>
      <if test="shippingName != null and shippingName !=''">
		shipping_name,
      </if>
      <if test="shippingCode != null and shippingCode !=''">
		shipping_code,
      </if>
      <if test="userId != null and userId !=''">
		user_id,
      </if>
      <if test="buyerMessage != null and buyerMessage !=''">
		buyer_message,
      </if>
      <if test="buyerNick != null and buyerNick !=''">
		buyer_nick,
      </if>
      <if test="buyerRate != null and buyerRate !=''">
		buyer_rate,
      </if>
   </trim>
     values 
     <trim prefix="(" suffix=")" suffixOverrides=",">
		#{id,jdbcType=BIGINT},
        <if test="payment  != null and payment !=''">
		#{payment,jdbcType=VARCHAR},
	    </if>
        <if test="paymentType  != null and paymentType !=''">
		#{paymentType,jdbcType=INTEGER},
	    </if>
        <if test="postFee  != null and postFee !=''">
		#{postFee,jdbcType=VARCHAR},
	    </if>
        <if test="status  != null and status !=''">
		#{status,jdbcType=INTEGER},
	    </if>
        <if test="createTime  != null and createTime !=''">
		#{createTime,jdbcType=TIMESTAMP},
	    </if>
        <if test="updateTime  != null and updateTime !=''">
		#{updateTime,jdbcType=TIMESTAMP},
	    </if>
        <if test="paymentTime  != null and paymentTime !=''">
		#{paymentTime,jdbcType=TIMESTAMP},
	    </if>
        <if test="consignTime  != null and consignTime !=''">
		#{consignTime,jdbcType=TIMESTAMP},
	    </if>
        <if test="endTime  != null and endTime !=''">
		#{endTime,jdbcType=TIMESTAMP},
	    </if>
        <if test="closeTime  != null and closeTime !=''">
		#{closeTime,jdbcType=TIMESTAMP},
	    </if>
        <if test="shippingName  != null and shippingName !=''">
		#{shippingName,jdbcType=VARCHAR},
	    </if>
        <if test="shippingCode  != null and shippingCode !=''">
		#{shippingCode,jdbcType=VARCHAR},
	    </if>
        <if test="userId  != null and userId !=''">
		#{userId,jdbcType=BIGINT},
	    </if>
        <if test="buyerMessage  != null and buyerMessage !=''">
		#{buyerMessage,jdbcType=VARCHAR},
	    </if>
        <if test="buyerNick  != null and buyerNick !=''">
		#{buyerNick,jdbcType=VARCHAR},
	    </if>
        <if test="buyerRate  != null and buyerRate !=''">
		#{buyerRate,jdbcType=INTEGER},
	    </if>
     </trim>
  </insert>
  <!-- 插入，可空字段过滤null值(结束) -->

  <!-- 根据主键逻辑删除(开始) -->
  <delete id="deleteByPrimaryKey" parameterType="Long">
    update order set yn=1 where 
	       id = #{id,jdbcType=BIGINT}
  </delete>
  <!-- 根据主键逻辑删除(结束) -->

  <!-- 删除(开始) -->
  <delete id="delete" parameterType="Order">
     update order set yn=1 where is_delete=0
	 <if test="id != null and id != ''" >
        and id = #{id,jdbcType=BIGINT}
    </if>
	 <if test="payment != null and payment != ''" >
        and payment = #{payment,jdbcType=VARCHAR}
    </if>
	 <if test="paymentType != null and paymentType != ''" >
        and payment_type = #{paymentType,jdbcType=INTEGER}
    </if>
	 <if test="postFee != null and postFee != ''" >
        and post_fee = #{postFee,jdbcType=VARCHAR}
    </if>
	 <if test="status != null and status != ''" >
        and status = #{status,jdbcType=INTEGER}
    </if>
	 <if test="createTime != null and createTime != ''" >
        and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
	 <if test="updateTime != null and updateTime != ''" >
        and update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
	 <if test="paymentTime != null and paymentTime != ''" >
        and payment_time = #{paymentTime,jdbcType=TIMESTAMP}
    </if>
	 <if test="consignTime != null and consignTime != ''" >
        and consign_time = #{consignTime,jdbcType=TIMESTAMP}
    </if>
	 <if test="endTime != null and endTime != ''" >
        and end_time = #{endTime,jdbcType=TIMESTAMP}
    </if>
	 <if test="closeTime != null and closeTime != ''" >
        and close_time = #{closeTime,jdbcType=TIMESTAMP}
    </if>
	 <if test="shippingName != null and shippingName != ''" >
        and shipping_name = #{shippingName,jdbcType=VARCHAR}
    </if>
	 <if test="shippingCode != null and shippingCode != ''" >
        and shipping_code = #{shippingCode,jdbcType=VARCHAR}
    </if>
	 <if test="userId != null and userId != ''" >
        and user_id = #{userId,jdbcType=BIGINT}
    </if>
	 <if test="buyerMessage != null and buyerMessage != ''" >
        and buyer_message = #{buyerMessage,jdbcType=VARCHAR}
    </if>
	 <if test="buyerNick != null and buyerNick != ''" >
        and buyer_nick = #{buyerNick,jdbcType=VARCHAR}
    </if>
	 <if test="buyerRate != null and buyerRate != ''" >
        and buyer_rate = #{buyerRate,jdbcType=INTEGER}
    </if>
  </delete>
  <!-- 删除(结束) -->

  
  <!-- 更新 忽略传入空值(开始) -->
  <update id="updateByOrder" parameterType="Order">
    update order
    <set>
    <trim suffix="" suffixOverrides="," >
    <if test="id != null and id !=''">
        id = #{id,jdbcType=BIGINT},
    </if>
    <if test="payment != null and payment !=''">
        payment = #{payment,jdbcType=VARCHAR},
    </if>
    <if test="paymentType != null and paymentType !=''">
        payment_type = #{paymentType,jdbcType=INTEGER},
    </if>
    <if test="postFee != null and postFee !=''">
        post_fee = #{postFee,jdbcType=VARCHAR},
    </if>
    <if test="status != null and status !=''">
        status = #{status,jdbcType=INTEGER},
    </if>
    <if test="createTime != null and createTime !=''">
        create_time = #{createTime,jdbcType=TIMESTAMP},
    </if>
    <if test="updateTime != null and updateTime !=''">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
    </if>
    <if test="paymentTime != null and paymentTime !=''">
        payment_time = #{paymentTime,jdbcType=TIMESTAMP},
    </if>
    <if test="consignTime != null and consignTime !=''">
        consign_time = #{consignTime,jdbcType=TIMESTAMP},
    </if>
    <if test="endTime != null and endTime !=''">
        end_time = #{endTime,jdbcType=TIMESTAMP},
    </if>
    <if test="closeTime != null and closeTime !=''">
        close_time = #{closeTime,jdbcType=TIMESTAMP},
    </if>
    <if test="shippingName != null and shippingName !=''">
        shipping_name = #{shippingName,jdbcType=VARCHAR},
    </if>
    <if test="shippingCode != null and shippingCode !=''">
        shipping_code = #{shippingCode,jdbcType=VARCHAR},
    </if>
    <if test="userId != null and userId !=''">
        user_id = #{userId,jdbcType=BIGINT},
    </if>
    <if test="buyerMessage != null and buyerMessage !=''">
        buyer_message = #{buyerMessage,jdbcType=VARCHAR},
    </if>
    <if test="buyerNick != null and buyerNick !=''">
        buyer_nick = #{buyerNick,jdbcType=VARCHAR},
    </if>
    <if test="buyerRate != null and buyerRate !=''">
        buyer_rate = #{buyerRate,jdbcType=INTEGER},
    </if>
    </trim>
    </set>
    <trim prefix="where" prefixOverrides="AND | OR" >
    <if test="id != null and id !=''" >
      and id = #{id,jdbcType=BIGINT}
    </if>
    <if test="payment != null and payment !=''" >
      and payment = #{payment,jdbcType=VARCHAR}
    </if>
    <if test="paymentType != null and paymentType !=''" >
      and payment_type = #{paymentType,jdbcType=INTEGER}
    </if>
    <if test="postFee != null and postFee !=''" >
      and post_fee = #{postFee,jdbcType=VARCHAR}
    </if>
    <if test="status != null and status !=''" >
      and status = #{status,jdbcType=INTEGER}
    </if>
    <if test="createTime != null and createTime !=''" >
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null and updateTime !=''" >
      and update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
    <if test="paymentTime != null and paymentTime !=''" >
      and payment_time = #{paymentTime,jdbcType=TIMESTAMP}
    </if>
    <if test="consignTime != null and consignTime !=''" >
      and consign_time = #{consignTime,jdbcType=TIMESTAMP}
    </if>
    <if test="endTime != null and endTime !=''" >
      and end_time = #{endTime,jdbcType=TIMESTAMP}
    </if>
    <if test="closeTime != null and closeTime !=''" >
      and close_time = #{closeTime,jdbcType=TIMESTAMP}
    </if>
    <if test="shippingName != null and shippingName !=''" >
      and shipping_name = #{shippingName,jdbcType=VARCHAR}
    </if>
    <if test="shippingCode != null and shippingCode !=''" >
      and shipping_code = #{shippingCode,jdbcType=VARCHAR}
    </if>
    <if test="userId != null and userId !=''" >
      and user_id = #{userId,jdbcType=BIGINT}
    </if>
    <if test="buyerMessage != null and buyerMessage !=''" >
      and buyer_message = #{buyerMessage,jdbcType=VARCHAR}
    </if>
    <if test="buyerNick != null and buyerNick !=''" >
      and buyer_nick = #{buyerNick,jdbcType=VARCHAR}
    </if>
    <if test="buyerRate != null and buyerRate !=''" >
      and buyer_rate = #{buyerRate,jdbcType=INTEGER}
    </if>
    </trim>
  </update>  
  
  <!-- 更新 忽略传入空值(开始) -->
  <select id="queryOrder" parameterType="Order" resultMap="BaseResultMap">
    select 
	<include refid="Base_Column_List"/>
	from order 
	<where> 
    	is_delete=0
    <if test="id != null and id != ''" >
        and id = #{id,jdbcType=BIGINT}
    </if>
    <if test="payment != null and payment != ''" >
        and payment = #{payment,jdbcType=VARCHAR}
    </if>
    <if test="paymentType != null and paymentType != ''" >
        and payment_type = #{paymentType,jdbcType=INTEGER}
    </if>
    <if test="postFee != null and postFee != ''" >
        and post_fee = #{postFee,jdbcType=VARCHAR}
    </if>
    <if test="status != null and status != ''" >
        and status = #{status,jdbcType=INTEGER}
    </if>
    <if test="createTime != null and createTime != ''" >
        and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null and updateTime != ''" >
        and update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
    <if test="paymentTime != null and paymentTime != ''" >
        and payment_time = #{paymentTime,jdbcType=TIMESTAMP}
    </if>
    <if test="consignTime != null and consignTime != ''" >
        and consign_time = #{consignTime,jdbcType=TIMESTAMP}
    </if>
    <if test="endTime != null and endTime != ''" >
        and end_time = #{endTime,jdbcType=TIMESTAMP}
    </if>
    <if test="closeTime != null and closeTime != ''" >
        and close_time = #{closeTime,jdbcType=TIMESTAMP}
    </if>
    <if test="shippingName != null and shippingName != ''" >
        and shipping_name = #{shippingName,jdbcType=VARCHAR}
    </if>
    <if test="shippingCode != null and shippingCode != ''" >
        and shipping_code = #{shippingCode,jdbcType=VARCHAR}
    </if>
    <if test="userId != null and userId != ''" >
        and user_id = #{userId,jdbcType=BIGINT}
    </if>
    <if test="buyerMessage != null and buyerMessage != ''" >
        and buyer_message = #{buyerMessage,jdbcType=VARCHAR}
    </if>
    <if test="buyerNick != null and buyerNick != ''" >
        and buyer_nick = #{buyerNick,jdbcType=VARCHAR}
    </if>
    <if test="buyerRate != null and buyerRate != ''" >
        and buyer_rate = #{buyerRate,jdbcType=INTEGER}
    </if>
    </where>
  </select>  
  <!-- 更新 忽略传入空值 -->    
</mapper>