<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.monitor.data.pojo"/>
        <package name="com.monitor.data.dto"/>
    </typeAliases>
    <plugins>
        <plugin interceptor="com.monitor.data.splitTable.TableSplitInterceptor">
        </plugin>
    </plugins>
    <mappers>
        <!--<mapper resource="com/tiantian/mybatis/mapper/UserMapper.xml"/>-->
    </mappers>
</configuration>